.frame {
  width: 80 vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide {
  width: 40vw;
  border: 1px dotted red;
  display: flex;
  justify-content: center;
}

img {
  width: 8rem;
}

[data-hidden="true"] {
  display: none;
}

.circle {
  height: 10px;
  width: 10px;
  background-color: #cfcfcf;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.circle[data-active="true"] {
  background-color: #555;
}
